* {
    padding: 0;
    /*Zerando o preenchimento*/
    margin: 0;
    /*Zerando a margin(top, bottom, right, left*/
    list-style: none;
    /*remover os marcadores de listas da <ul> */
    font-family: "Noto Serif", serif;
    /*Fonte da letra (Google fontes)*/
}

header {

    padding: min(3vh, 2rem);
     width: 100%; 
    /*Colocando um tamanho (Preenchimento) no Header*/
    /* width: 100%; */ 
    background-color:#b4cec4;
    /*Habilitando uma cor de fundo*/
    display: flex;
    /*Tornando nosso Header Flex - Deixando os itens lado a lado*/
    justify-content: space-evenly;
    /*Justificativa do conteúdo*/
    align-items: center;
    /*Alinhamento na vertical - Deixando habilitada ao centro*/
     position: fixed;
    z-index: 99; 
    transition: top 0.6s ease-in-out;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0.21rem 0.5rem;
}



/*Chamamos nossa logo(img) para estilização*/
header img {
    width: 125px;
    /*Largura da imagem*/
    height: auto;
    /*Altura da imagem ( automático) */
}


/*Chamamos nossa lista não ordenada para estilização*/
header div nav ul {
    display: flex;
    /*Tornamos nossa lista não ordenada em (Flex), deixando os itens pertencentes a ela, lado a lado.*/
    gap: 20px;
    /*Espaçamento entre os elementos*/

}

/*Chamamos nossa âncora (a) para estilização*/
header div nav ul li a {
    font-family: Light 300;
    /*Fonte da letra (Google fonts)*/
    text-decoration: none;
    /*Decoração do texto (sublinhado) desabilitado (none)*/
    color: rgb(65, 83, 65); 
    /*Cor da Letra*/
    font-family: Light 300;
    /*Fonte da letra (Google fonts)*/
}

#Btn-modoEscuro
{
    border-radius: 15px;
    background-color:#7e9991;
    align-items: end;
    border:black;
}

header div nav ul li a:hover
{
    color: #d9881e;
    transition: 0.5s;
}
/* ----------------------------------Estilização da sessão1---------------------------------------------- */

.section1
{
    padding: 4rem;
    /* width: 100%; */
    background: linear-gradient(180deg,  #b4cec4 8.33%, rgba(244, 200, 175, 0) 100%);
    height: 100vh;
    position: relative;
    display: flex;
    /* overflow: hidden; */
}

.div-introducao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para o texto */
.text {
    flex: 1;
    margin-right: 20px;
}

.text h1 {
    font-size: 2.3em;
    color: #113e4e; /* Use uma das suas cores da paleta */
}

.text p {
    font-size: 1.7em;
    color: #748c94;
}

/* Estilo para a imagem */
.image {
    flex: 1;
    max-width: 35%;
    border-radius: 32px; /* Deixa as bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar a imagem */
}

/* --------------------------------- Estilização seção dois -------------------------------- */
.section2
{
    /* width: 100%; */
    padding: 6rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(244, 200, 175, 0);*/

    background: 
    linear-gradient(to bottom,rgba(211, 215, 216, 0.833), rgba(35, 42, 39, 0.948)), /* Degradê */
    url('img/img\ estacionamneto.webp'); /* Imagem de fundo */
background-size: cover; /* Ajusta a imagem para cobrir o contêiner */
background-position: center; /* Centraliza a imagem */
background-repeat: no-repeat; /* Não repete a imagem */
}
.container-estacionamento
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-estacionamento
{
    width: 100%;
    text-align: center;
    margin-bottom: 1.8rem;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-cabecalho-estacionamento h2
{
    font-family: var(--font-grande);
    font-size: 3rem;
}
.text-cabecalho-estacionamento p
{
    font-size: 1.5rem;
    color: var(--color-gray2);
    font-weight: 500;
    line-height: 1.4;
    max-width: 900px;
}

.conteudo-estacionamento
{
    display: grid;
    gap: 1rem;
    width: 100%
}

.box-estacionamento
{
    border: 2px solid hsl(181, 58%, 58%);
    border-radius: 20px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 280px;
    padding: 1.8rem;
    gap: 1.5rem;
}

.box-estacionamento i 
{
    font-size: 2.8rem;
    color: var(--color-white);
}

.box-estacionamento p 
{   color: var(--color-gray2);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4;
}

.box-estacionamento h3
{
    font-size: 1.8rem;
}

@media (min-width: 600px) {
    .conteudo-estacionamento {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .conteudo-estacionamento {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* ----------------------------Estilização Sessão três-----------------------------------------  */


.section3
{
    padding: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#b4cec4 ;    
}
.container-problemas
{
    display: flex;
    gap: 1rem;
    width: 100%
}

 .cabeçalho-problemas p
{
    font-size: 1.5rem;
    color: var(--color-gray2);
    font-weight: 500;
    line-height: 1.4;
    max-width: 900px;
}

.cabeçalho-problemas h2
{
    text-align: center;
    font-family: var(--font-grande);
    font-size: 2rem;
    
}

.box-problemas
{
    border-radius: 20px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 1rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #113e4e05;
}

.box-problemas:hover
{
    background: linear-gradient( rgba(12, 12, 12, 0.234), rgba(255, 254, 254, 0.338));
    transition: 3s 0.8ms;
}

.box-problemas p
{
    font-weight: 300;
    font-size: 1.2em;
    color: #113e4e;
    text-align: justify;
}


.box-problemas h2
{
    color:#d9881e ;
}

.linha-separaçao
{
    justify-content: space-around;
    background-color: black;
    padding: 1.8px;   
}
/*--------------------------------------segunda parte da sessão dois------------------------------- */
.complemento-soluçao
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.text-soluçao
 {
    flex: 1;
    margin-right: 38px;
}

.text-soluçao h3
{
    font-size: 2.2em;
    color: #113e4e; /* Use uma das suas cores da paleta */
}

.text-soluçao p 
{
    font-size: 1em;
    color: #748c94;
}

.introdução-soluçao
{
    text-align: center;
    font-family: var(--font-grande);
    font-size: 2rem;
    color:#113e4e;
    border-color: #113e4e;
}

.image-soluçao
{
    flex: 1;
    max-width: 35%;
    border-radius: 40px; /* Deixa as bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar a imagem */
}


/* --------------------------------Estilização sessão quatro---------------------------------------- */

.section4
{
    padding: 10rem;
    justify-content: space-around;
    background-size: cover;
    background-position: center;
    background-color: #748c94;
   
}

.card 
{
    background-color: #040b0ebd;
    border: solid rgb(7, 7, 7);
    padding: 30px;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    transition: transform 0.4s ease-in-out;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 0.5);

    /* background-color: #ecf0f1;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; */
 
}

.card img
{
    width: 240px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card p {
    font-size: 7px;
    color: #ffffff;
}

.card h3 {
    color: rgb(20, 20, 20);
}

.carousel
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

/* .img-cidades
{
    max-width: 100%;
    height: 200%;
    border-radius: 10px;
    margin-bottom: 20px;
   
} */


.txt-cards
{
text-align: center;
margin-top: 2.2rem;
font-size: 2rem;
}

/* -------------------------------Estilização da section5---------------------------------------------- */

.section5
{
    background-image: url(img/img-ceuSutentavel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 16rem;
    background-size: cover;

}

.txt-section5
{
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.455);
}

.txt-section5 p
{
color: #7e9991;
font-size: 1.5;

}

.txt-section5
{
    color:#7e9991;
    font-size: 2rem;
    font-weight: 600;
}

/* ------------------------------------Estilização do footer--------------------------------------- */

footer {
    padding: min(3vh, 4rem);
    /*Tamanho/preenchimento do Footer*/
    background-color: rgb(231, 250, 231);
    /*Cor de fundo*/
    display: flex;
    /*Tornando o Footer Flex - Deixando os itens lado a lado*/
    justify-content: space-evenly;
    /*Justificativa do conteúdo*/
    gap: 15px;
    /*Espaçamento entre os elementos*/
    box-shadow: 0 0.21rem 0.5rem;
}

/*Estilizando a logo do Footer*/
footer .div-logo-footer img {
    width: 125px;
    /*Largura da imagem*/
    height: auto;
    /*Altura da imagem */
}

/*Estilizando o subtítulo do Footer*/
footer div h3 {
    color: rgb(65, 83, 65);
    /*Cor da letra*/
    font-size: 25px;
    /*Tamanho da letra*/
    font-family: Light 300;
    /*Fonte da letra (Google fonts)*/
    font-weight: 300;
    /*Peso/Espressura da letra*/

}

/*Estilizando o parágrafo do Footer*/
footer div p {
    color: rgb(65, 83, 65);
    /*Cor da letra*/
    font-size: 18px;
    /*Tamanho da letra*/
    font-family: Light 300;
    /*Fonte da letra (Google fonts)*/
    font-weight: 200;
    /*Peso/Espressura da letra*/
}

/*Estilizando os ícones do Footer*/
.div-sociais i {
    padding: 10px;
    /*Aplicando um respiro (padding) dentro dos ícones*/
    font-size: 20px;
    /*Tamanhos dos ícones*/
    background-color: white;
    /*Cor de fundo*/

}


/*Aplicando o hover nos ícones*/
.div-sociais i:hover {
    background-color: #7e9991;
    /*Cor de fundo*/
    transition: 0.5s;
    /*Tempo de transição*/
}

/*Chamamos nossa âncora (a) para estilização*/
.div-list-footer a {
    text-decoration: none;
    /*Decoração do texto (sublinhado) desabilitado (none)*/
    color: rgb(65, 83, 65); 
    /*Cor da Letra*/
}


/* Laranja (color1: #d9881e):

RGBA: rgba(217, 136, 30, 1)
Bege (color2: #ddc18b):

RGBA: rgba(221, 193, 139, 1)
Azul Escuro (color3: #113e4e):

RGBA: rgba(17, 62, 78, 1)
Cinza (color4: #748c94):

RGBA: rgba(116, 140, 148, 1)
Azul Claro (color5: #b4cec4):

RGBA: rgba(180, 206, 196, 1) */