/* Responsividade para iPad (tablet) */
@media (max-width: 1024px) {

    .container {
        padding: 0;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header img {
        width: 3rem;
        height: 2rem;
        
    }

    
    header nav{
        display: none; /*escondendo o menu*/
    }

    










}