@import url('https://fonts.google.com/noto/specimen/Noto+Serif');
/*Fonte da letra (Google fontes)*/

* {
    padding: 0;
    /*Zerando o preenchimento*/
    margin: 0;
    /*Zerando a margin(top, bottom, right, left*/
    list-style: none;
    /*remover os marcadores de listas da <ul> */
    font-family: "Noto Serif", serif;
    /*Fonte da letra (Google fontes)*/
    box-sizing: border-box;
}

/*HTML*/
body {
    background-color: white; /* Cor de fundo*/
    width: 100%; /* largura do body*/
    height: 100vh; /* Tamanho*/
    overflow-x: hidden;
    transition: background-color 0.5s, color 0.5s;  /**/
    color: rgb(3, 70, 3); /**/
    
}

/* Listas*/
li {
    list-style: none; /*remover os marcadores de listas da <ul>*/
}

/*Ancora*/
a {
    text-decoration: none; /* Remover o sublinhado da âncora*/
}

/*Botões fixos*/
.fixed-button {
    position: fixed; /**/
    display: none; /**/
    align-items: center; /**/
    justify-content: center; /**/
    width: 50px; /**/
    height: 50px; /**/
    border-radius: 50%; /**/
    background-color: var(--color-white); /**/
    color: var(--color-black); /**/
    cursor: pointer; /**/
    z-index: 1000; /**/
    opacity: 0; /**/
    transition: opacity 0.5s ease, box-shadow 0.5s ease; /**/
}

/*Chamamos o Botão voltar ao topo para estilização*/
#backToTop {
    bottom: 20px; /*Define a distância do botão em relação á parte inferior da tela*/
    left: 20px; /*Define a distância do botão em relação á esquerda da tela*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /**/
}


/*Chamamos o Botão do whatsapp para estilização*/
#whatsappButton {
    bottom: 20px; /*Define a distância do botão em relação á parte inferior da tela*/
    right: 20px; /*Define a distância do botão em relação á direita da tela*/
    background-color: #25D366; /*Cor de fundo*/
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);  /*Sombra verde*/
    animation: pulse 2s infinite; /*usada para aplicar animações a elementos.*/
}

/*Botão do whatsapp*/
#whatsappButton i {
    font-size: 24px; /*Tamanho*/
    color: #fff; /*cor*/
}

/*icones dos botões*/
.fixed-button i {
    font-size: 24px; /*tamanho do icone*/
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
}





/*Início da estilização do Header*/
header {
    padding: min(3vh, 2rem);
    /*Colocando um tamanho (Preenchimento) no Header*/
    width: 100%;
    background-color: rgb(231, 250, 231);
    /*Habilitando uma cor de fundo*/
    display: flex;
    /*Tornando nosso Header Flex - Deixando os itens lado a lado*/
    justify-content: space-evenly;
    /*Justificativa do conteúdo*/
    align-items: center;
    /*Alinhamento na vertical - Deixando habilitada ao centro*/
    position: sticky; /*Deixar o header fixo na página*/
    top: 0; /**/
    left: 0; /**/
    z-index: 999; /**/
    box-shadow: 0 0.21rem 0.5rem; /**/


}



/*Chamamos nossa logo(img) para estilização*/
header img {
    width: 125px;
    /*Largura da imagem*/
    height: auto;
    /*Altura da imagem ( automático) */
}


/*Chamamos nossa lista não ordenada para estilização*/
header div nav ul {
    display: flex;
    /*Tornamos nossa lista não ordenada em (Flex), deixando os itens pertencentes a ela, lado a lado.*/
    gap: 20px;
    /*Espaçamento entre os elementos*/

}

/*Chamamos nossa âncora (a) para estilização*/
header div nav ul li a {
    font-family: Light 300;
    /*Fonte da letra (Google fonts)*/
    text-decoration: none;
    /*Decoração do texto (sublinhado) desabilitado (none)*/
    color: rgb(65, 83, 65); 
    /*Cor da Letra*/
    font-family: Light 300;
    /*Fonte da letra (Google fonts)*/
}

/*Chamamos o botão modo escuro para estilização*/
header>button {
    
    padding: 5px; /*preenchimento*/
    background-color:  #8faca1; /*cor de fundo*/
    border: 5px; /*arredondamento*/
   
}

/*Chamamos a âncora o botão*/
header>button>a {
   
    display: flex; /*Tornando o elemento Flex*/
    align-items: center; /*Alinhando ao centro*/
    gap: 5px; /*Espaçamento*/
    color: white; /*Cor*/
    text-decoration: none; /*Removendo o sublinhado*/
    font-weight: 400; /*Peso da fonte */
}

/* Menu do Hamburger */
.menu {
    display: flex; /*Tornando o elemento flexivel*/
    align-items: center; /*Alinhando ao centro*/
    justify-content: flex-end; /*Alinhado o item á direita*/ 
    position: relative; /*posição normal*/
    z-index: 100; /*eixo z*/
}

/*Botão Hamburger*/
.hamburger {
    cursor: pointer; /**/
}

/**/
.hamburger input {
    display: none; /*ocultar*/
}

/**/
.hamburger svg {
    height: 3em; /*altura*/
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1); /*transição*/
}

/**/
.line {
    fill: none; /**/
    stroke: #032e1e; /*Cor de fundo*/
    stroke-linecap: round; /**/
    stroke-linejoin: round; /**/
    stroke-width: 3; /**/
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); /**/
}

/**/
.line-top-bottom {
    stroke-dasharray: 12 63; /**/
}

/**/
.hamburger input:checked+svg {
    transform: rotate(-45deg); /**/
}

/**/
.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300; /**/
    stroke-dashoffset: -32.42; /**/
}

/* Menu Navegação */
.menu-aberto {
    background-color: #8faca1; /*cor de fundo*/
    position: fixed; /*posição fixa*/
    left: 0; /*Esquerda em 0*/
    top: 0; /*Superior em 0*/
    height: 0; /*Altura*/
    width: 100%; /*Largura*/
    z-index: 98; /**/
    display: flex; /*Tornando o elemento Flex*/
    align-items: center; /*Alinhando o elemento ao centro*/
    justify-content: center; /*Justificando o elemento ao centro*/
    overflow: hidden; /**/
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out; /*Transição*/
    opacity: 0; /*opacidade*/
}

/*Menu aberto*/
.menu-aberto.active {
    height: 100vh; /*Altura*/
    opacity: 1; /*opacidade*/
}

/*Navegação do Menu Hamburger*/
.nav-menu {
    width: 100%; /*Largura*/
    height: 100%; /*Altura*/
    display: flex; /*Tornando o elemento flex*/
    flex-direction: column; /*posição de coluna*/
    align-items: center; /*Alinhado o elemento ao centro*/
    justify-content: center; /*Jusficando o elemento ao centro*/
    gap: 4rem; /*Espaçamento*/
    transition: opacity 0.5s ease-in-out; /*transição*/
}

/*Chamamod a Âncora do menu Hamburger para estilização*/
.nav-menu a {
    user-select: none; /**/
    text-decoration: none; /**/
    color: var(--color-white); /**/
    font-family: var(--font-pequena); /**/
    font-size: 2rem; /**/
    font-weight: bold; /**/
    opacity: 0; /**/
    transform: translateY(-20px); /**/
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /**/
}

/*Menu aberto*/
.menu-aberto.active .nav-menu a {
    opacity: 1; /*opacidade*/
    transform: translateY(0); /*Transição*/
}

/**/
.nav-menu a:hover {
    color: var(--color-destaque1); /*cor da letra*/
    transition: all 0.3s ease; /*Transição*/
}


/*Chamamos a primeira sessão para a estilização*/
.section-1 {
    padding: 7rem; /*preenchimento*/
    width: 100%; /*largura */
    height: 100vh; /*altura*/
    position: relative; /*posição relativo*/
    background-color: transparent; /*Cor de fundo: Transparente*/
    display: flex; /*Tornando a sessão flex*/
    overflow: hidden; /**/
    
}

/*Chamamos o título da section 1 para a estilização*/
.section-1 h1 {
    text-align: center; /*Centralizar o texto*/
    font-size: 3rem; /*Tamanho da letra*/
    font-weight: 600; /*Peso da letra*/ 
    color: #186350; /*Cor da letra*/
    margin: 20px; /*espaçamento da direita, esquerda, superior e inferior*/
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .9); /*Sombra*/
    border-radius: 5px;  /*Arredondamento*/
    z-index: 1; /*Eixo Z*/
    background-color: aliceblue; /*Cor de fundo*/
    opacity: 0.8;  /*opacidade*/
    position: absolute; /*posição absoluta*/
    top: 20%; /**/
    left: 20%; /**/
    
  
}

/* Chamamos o vídeo da primeira sessão para a estilização */
#myVideo {
    position:absolute; /*Posição absoluta*/
    right: 0; /**/
    bottom: 0; /**/
    min-width: 100%; /**/
    min-height: 100%; /**/
  }


  
/**/
.section-2 {
    padding: 8rem; /**/
    width: 90%; /**/
    background-color: transparent; /**/
    display: flex; /**/
    justify-content: space-around; /**/
    align-items: center; /**/
    margin: -130px; /**/
}

/**/
.service {
    text-align: right; /**/
    margin: 30px; /**/
    flex-wrap: wrap; /**/
}

/**/
.service img {
    width: 200%; /**/
    height: auto; /**/
    flex-wrap: wrap; /**/
}

/**/
.div-titulo h2 {
    font-size: 3rem; /**/
    font-weight: bolder; /**/
    font-family: "Noto+Serif"; /**/
    text-align: center; /**/
    color: rgb(65, 83, 65); /**/
    margin: 15px; /**/
    flex-wrap: wrap; /**/
}

/**/
.div-titulo p {
    font-size: 1.2rem; /**/
    font-weight: 400; /**/
    font-style: "Thin 100"; /**/
    margin: 15px; /**/
    flex-wrap: wrap; /**/
}


  /* Botão Inicio */
  .cta {
    position: relative; /**/
    margin: auto; /**/
    padding: 12px 18px; /**/
    transition: all 0.2s ease; /**/
    border: none; /**/
    background: none; /**/
    cursor: pointer; /**/
    text-align: center; /**/
    margin-left: 300px; /**/
}

/**/
.cta span {
    font-size: clamp(1.2rem, 1.5vw + 1rem, 2rem); /**/
    color: #186350; /**/
}

/**/
.cta:before {
    content: ""; /**/
    position: absolute; /**/
    top: 0; /**/ 
    left: 0; /**/
    display: block; /**/
    border-radius: 50px; /**/
    background: var(--color-destaque2); /**/
    width: 45px; /**/
    height: 45px; /**/
    transition: all 0.3s ease; /**/
}

/**/
.cta span {
    position: relative; /**/
    font-family: var(--font-pequena); /**/
    font-size: 20px; /**/
    font-weight: 800; /**/
    letter-spacing: 0.05em; /**/
    color: var(--color-white); /**/
}

/**/
.cta svg {
    position: relative; /**/
    top: 0; /**/
    margin-left: 10px; /**/
    fill: none; /**/
    stroke-linecap: round; /**/
    stroke-linejoin: round; /**/
    stroke: var(--color-destaque2); /**/
    stroke-width: 2; /**/
    transform: translateX(-5px); /**/ 
    transition: all 0.3s ease; /**/
}

/**/
.cta:hover:before {
    width: 100%; /**/
    background: var(--color-destaque2); /**/
}

/**/
.cta:hover svg {
    transform: translateX(0); /**/
    stroke: var(--color-destaque1); /**/
}

/**/
.cta:active {
    transform: scale(0.95); /**/
}


/**/
.section-3 {
    padding: 8rem; /**/
    background: linear-gradient(180deg, #c3f5e264 8.33%, rgba(150, 248, 199, 0.745) 100%), url(imagem/estacionamento.jpg); /**/
    background-attachment: fixed; /**/
    background-size: cover; /**/
    background-position: center; /**/
    background-repeat: no-repeat; /**/
    width: 100%; /**/
    display: flex; /**/
    justify-content: space-around; /**/
   
}

/**/
.estacione {
    text-align: center;/**/
}

/**/
.section-3 h2 {
    font-size: 3rem; /**/
    font-weight: bolder; /**/
    font-family: "Noto+Serif"; /**/
    text-align: center; /**/
    flex-direction: column; /**/
    color: rgb(65, 83, 65); /**/
    margin: 15px; /**/
    flex-wrap: wrap; /**/
}

/**/
.estacione p {
    font-size: 1.5rem; /**/
    font-weight: 700; /**/
    font-style: "Thin 100"; /**/
    color: rgb(44, 56, 44); /**/
    text-align: left; /**/
    flex-wrap: wrap; /**/

}


/*Chamamos nosso Button que está dentro da terceira sessão*/
.section-3 .botao1 {
    display: block; /**/
    flex-direction: column; /**/
    flex-wrap: wrap; /**/
    
    /*Usada para centralizar o botão*/
}

/*Estilização do botão da section 3*/
.section-3 button {
    padding: 10px;
    /*Tamanho do preenchimento interno do botão*/
    border-radius: 10px;
    /*Borda arredondada do botão*/
    width: 200px;
    /*Tamanho lateral do botão (largura)*/
    border-color: rgb(25, 99, 64);
    /*Cor da borda*/
    margin: 30px;
    /*Margem em volta do Button*/
    cursor: pointer;
    /* Habilitado o cursor do mouse, mostrado quando o ponteiro do mouse está sobre um elemento.*/


}

/*Estilização a Âncora do botão da section 3*/
.section-3 a button {
    color: rgb(9, 173, 138);
    /*Cor da letra*/

}

/**/
.estione-img {
    text-align: right; /**/
    margin-right: 250px; /**/
    flex-wrap: wrap; /**/
}

/**/
.estione-img img {
    width: 170%; /**/
    height: auto; /**/
}

/**/
.section-4 {
    padding: 8rem; /**/
    width: 100%; /**/
    background-color: transparent; /**/
    display: block; /**/
    justify-content: space-around; /**/
    align-items: center; /**/
}

/**/
.section-4 h2 {
    font-size: 3rem; /**/
    font-weight: bolder; /**/
    font-family: "Noto+Serif"; /**/
    text-align: center; /**/
    color: rgb(65, 83, 65); /**/
    text-align: center; /**/
    flex-wrap: wrap; /**/
    
}

/**/
.section-4 p {
    font-size: 1rem; /**/
    font-weight: 800; /**/
    font-style: "Thin 100"; /**/
    text-align: center; /**/
    flex-wrap: wrap; /**/
    
}

/**/
.section-4 img {
    width: 80%; /**/
    height: 100%; /**/
    margin-right: 200px; /**/
    flex-wrap: wrap; /**/
}

/**/
.headline-t-mobis {
    height: 30%; /**/
    width: 100vw; /**/
    overflow: hidden; /**/
    display: flex; /**/
    align-items: center; /**/
    justify-content: center; /**/
    flex-direction: column; /**/
    position: absolute; /**/
}

/**/
.headline-scroll {
    display: flex; /**/
    align-items: center; /**/
    white-space: nowrap; /**/
    animation: scroll 20s linear infinite; /**/
    text-align: left; /**/
    margin-right: 200px;
    margin-left: -200px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/**/
.headline-scroll span {
    font-family: var(--font-grande); /**/
    font-size: 4rem; /**/
    text-transform: uppercase; /**/
    display: flex; /**/
    align-items: center; /**/
}

/**/
.headline-scroll .divisor {
    width: 20px; /**/
    height: 20px; /**/
    background-color: var(--color-gray2); /**/
    border-radius: 50%; /**/
    margin: 0 20px; /**/
}

/**/
.headline-scroll .bold {
    font-weight: bold; /**/
    color: var(--color-white); /**/
}

/**/
.headline-scroll .light {
    font-weight: lighter; /**/
    color: var(--color-gray2); /**/
}




/**/
.section-5 {
    padding: 8rem; /**/
    width: 100%; /**/
    background: linear-gradient(180deg, #e6f5ef64 8.33%, rgba(152, 173, 163, 0.745) 100%), url(imagem/teleferico.jpg); /**/
    background-attachment: fixed; /**/
    background-size: cover; /**/
    background-position: center; /**/
    background-repeat: no-repeat; /**/
    display: flex; /**/
    justify-content: center; /**/
    align-items: center; /**/
    gap: 15px; /**/
    
}


/**/
.section-5 h3 {
    font-size: 2rem; /**/
    font-weight: bolder; /**/
    font-family: "Noto+Serif"; /**/
    text-align: center; /**/
    flex-direction: column; /**/
    flex-wrap: wrap; /**/
    
}

/**/
.section-5 p {
    font-size: 1.2rem; /**/
    font-weight: 900; /**/
    font-style: "Thin 100"; /**/
    color: rgb(65, 83, 65); /**/
    text-align: center; /**/
    flex-wrap: wrap; /**/
    
}


/*Estilização do container do carrossel*/
.carousel-container {
    overflow: hidden; /*Esconde partes das imagens que saem do container */
    width: 40%; /*O container ocupa toda a largura da página */
    max-width: 800px; /*largura máxima para limitar em telas maiores */
    margin: auto; /*centraliza o container*/
    flex-wrap: wrap; /**/
}

/*Estilo da faixa de imagens*/
.carousel-track {
    display: flex; /*Coloca as imagens lado a lado em linha*/
    justify-content: center; /**/
    align-items: center; /**/
    transition: transform 0.5s ease; /*Animação suave para a transição*/
}

/* Cada item do carrossel*/
.carousel {
    flex: 0 0 100%; /* Cada item ocupa 100% da largura do container*/
}

/*Imagem do carrossel*/
img {
    width: 100%; /* As imagens ocupam toda a largura do item*/
    display: block; /* Garante que não haja espaçamento abaixo das imagens*/
    text-align: center; /**/
}

/*Chamamos nosso Button que está dentro da section-5*/
.section-5 .botao2 {
    text-align: center; /**/
    flex-direction: column; /**/
    flex-wrap: wrap; /**/
    
    /*Usada para centralizar o botão*/
}

/*Estilização do botão da section-5*/
.section-5 button {
    padding: 10px;
    /*Tamanho do preenchimento interno do botão*/
    border-radius: 10px;
    /*Borda arredondada do botão*/
    width: 200px;
    /*Tamanho lateral do botão (largura)*/
    border-color: rgb(25, 99, 64);
    /*Cor da borda*/
    margin: 30px;
    /*Margem em volta do Button*/
    cursor: pointer;
    /* Habilitado o cursor do mouse, mostrado quando o ponteiro do mouse está sobre um elemento.*/


}

/*Estilização a Âncora do botão da section-5*/
.section-5 a button {
    color: rgb(9, 173, 138);
    /*Cor da letra*/

}

/**/
.section-6 {
    padding: 6rem; /**/
    width: 100%; /**/
    background-color: white; /**/
    display: flex; /**/
    justify-content: center; /**/
    align-items: center; /**/
    flex-direction: column; /**/
    gap: 15px; /**/
}

/**/
.section-6 h2 {
    font-size: 2rem; /**/
    font-weight: bolder; /**/
    font-family: "Noto+Serif"; /**/
    text-align: center; /**/
    flex-direction: column; /**/
    flex-wrap: wrap; /**/
}

/**/
.section-6 .line1 {
    width: 20%; /*Largura da linha*/
    margin: 9px auto; /**/

}

/**/
.section-6 img {
    width: 50%; /**/
    height: auto; /**/
    text-align: center; /**/
    margin-left: 180px; /**/
    flex-wrap: wrap; /**/
}

/**/
.div-qrcode {
    width: 250px; /**/
    height: auto; /**/
    text-align: right; /**/
}

/**/
.qr-code {
    width: 250px; /**/
    text-align: right; /**/
    
}

/*Fim da estilização da section-6*/



/*Início da estilização do Footer/Rodapé da pagina*/
footer {
    padding: min(3vh, 4rem);
    /*Tamanho/preenchimento do Footer*/
    background-color: rgb(231, 250, 231);
    /*Cor de fundo*/
    display: flex;
    /*Tornando o Footer Flex - Deixando os itens lado a lado*/
    justify-content: space-evenly;
    /*Justificativa do conteúdo*/
    gap: 15px;
    /*Espaçamento entre os elementos*/
    box-shadow: 0 0.21rem 0.5rem;
}

/*Estilizando a logo do Footer*/
footer .div-logo-footer img {
    width: 125px;
    /*Largura da imagem*/
    height: auto;
    /*Altura da imagem */


}

/*Estilizando o subtítulo do Footer*/
footer div h3 {
    color: rgb(65, 83, 65);
    /*Cor da letra*/
    font-size: 25px;
    /*Tamanho da letra*/
    font-family: Light 300;
    /*Fonte da letra (Google fonts)*/
    font-weight: 300;
    /*Peso/Espressura da letra*/

}

/*Estilizando o parágrafo do Footer*/
footer div p {
    color: rgb(65, 83, 65);
    /*Cor da letra*/
    font-size: 18px;
    /*Tamanho da letra*/
    font-family: Light 300;
    /*Fonte da letra (Google fonts)*/
    font-weight: 200;
    /*Peso/Espressura da letra*/
}

/*Estilizando os ícones do Footer*/
.div-sociais i {
    padding: 10px;
    /*Aplicando um respiro (padding) dentro dos ícones*/
    font-size: 20px;
    /*Tamanhos dos ícones*/
    background-color: white;
    /*Cor de fundo*/

}


/*Aplicando o hover nos ícones*/
.div-sociais i:hover {
    background-color: #7e9991;
    /*Cor de fundo*/
    transition: 0.5s;
    /*Tempo de transição*/
}

/*Chamamos nossa âncora (a) para estilização*/
.div-list-footer a {
    text-decoration: none;
    /*Decoração do texto (sublinhado) desabilitado (none)*/
    color: rgb(65, 83, 65); 
    /*Cor da Letra*/
}

/*Fim da estilização do Footer*/

