/* Fundo da página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed; /* Substitua por uma imagem */
    background-size: cover;
}

/* Container do formulário */
.form-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
   background-image: url(img/img-section5.jpg);
   position: fixed;
   background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Labels */
label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
}

/* Campos de entrada */
input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botão de envio */
button {
    background-color: #d9881e; /* Laranja */
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #b47019; /* Laranja mais escuro */
}
